<h1>Booking on flight number <%= @flight.id %></h1>
<h2><%= @airports[0][:code] %> to <%= @airports[1][:code] %></h2>
<h2><%= @flight[:start]%></h2>

<%= form_with model: @booking, html: {:id => "main_form", :"data-controller" => "passenger"} do |f| %>
  <%= f.hidden_field :nbr_passengers, value: @nbr_passengers, "data-passenger-target": "nbrPassEl" %>
  <%= f.hidden_field :flight_id, value: @flight.id %>
	
	<div id="passenger_fields">
		<br>
	<%= f.fields_for :passengers do |subf| %>
		<%= subf.label :name, "Passenger name:" %>
		<%= subf.text_field :name %>

		<%= subf.label :email, "Passenger email:" %>
		<%= subf.email_field :email %>
		<br>
	<% end %>
	</div>
	<br><br>
	<button data-action="passenger#remove" type="button">Remove passenger</button>
	<br><br>
	<button data-action="passenger#add" type="button">Add passenger</button>
	<br><br>
  <%= f.label :billing_address, "Your billing address" %>
  <%= f.text_field :billing_address %>
  <br><br>

  <%= f.submit %>
<% end %>

<!--
<template id="new_passenger">
	<%= fields_for @booking.passengers.build, options: {:form => "main_form"} do |subf| %>
		<%= subf.label :name, "Passenger name:" %>
		<%= subf.text_field :name %>

		<%= subf.label :email, "Passenger email:" %>
		<%= subf.email_field :email %>
		<br>
	<% end %>
</template>
-->

<template data-controller="passenger" id="new_passenger">
	<label data-passenger-target="label">Passenger name:</label>

	<input data-passenger-target="name" type="text">

	<label data-passenger-target="label">Passenger email:</label>

	<input data-passenger-target="email" type="email">
</template>